.designs_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: #F2F2F2;
}

/*
  .previewIcon_container {
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
  
  }
  */

  .design1,
  .design2,
  .design3,
  .design4{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  .design1:hover,
  .design2:hover,
  .design3:hover,
  .design4:hover{
      box-shadow: 0 0 2px 3px rgba(149, 191, 255, 0.767);
  }


  @media (max-width: 700px){
    .designs_section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
     .design1,
     .design2,
     .design3,
     .design4{
      display: grid;
      width: 80px;
  }
}

@media (min-width: 701px) and (max-width: 999px){
    .designs_section{
        grid-template-columns: 1fr 1fr ;
        gap: 30px;
    }
}

@media (min-width: 1000px){
    .designs_section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}