.footer{
    font-size: 18px;
    font-family: Roboto,Arial;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 30%;
    color: rgb(255, 255, 255);

}

.gmail,
.location,
.phone{
    width: 50px;
    height: 40px;
    margin: 10px;
}

.mygmail,
.myphone,
.myloc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 100px;
}


@media (max-width: 700px){
    .gmail,
    .location,
    .phone{
        width: 20px;
        margin: 10px;
}
}

@media (min-width: 701px) and (max-width: 999px){
   
}

@media (min-width: 1000px){
   
}